.card-list {
  width: 100vw; 
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  grid-gap: 20px;
  overflow-x: hidden;
  padding: 0 10px; 
}

@media (max-width: 992px) {
  .card-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .card-list {
    width: 95vw; 
    grid-template-columns: repeat(2, 1fr);
    padding: 0; 
  }
}

@media (max-width: 480px) {
  .card-list {
    width: 100vw;
    grid-template-columns: 1fr;
    padding: 0; 
  }
}